/* common styles */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  outline: none;
}

html,
body {
  /* font-size: 62.5%; */
  /* background-color: rgb(190, 190, 190); */
  height: 100%;
  margin: 0;
}

.resume {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 22% 78%;
  grid-template-rows: min-content 1fr;
}

.main-heading {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 1rem;
  text-align: center;
  font-size: 45px;
  background-color: #4d4d4d;
  color: #fff;
}

.personal-info {
  padding-left: 1rem;
}

.img-left {
  width: 100%;
  margin: 1rem;
}

.img-left img {
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 1rem 0.1rem rgba(0, 0, 0, 0.24);
}

.contact-details,
.language-details,
.linkedin {
  padding: 10px;
}

.linkedin p {
  padding-top: 10px;
}

.head {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  font-weight: 750;
  font-size: 20px;
}

.font i {
  padding: 0 10px 5px 0;
  font-size: 20px;
  color: #1aa1f5;
}

.language-details p {
  padding: 3px;
}

.language-details i {
  color: #1aa1f5;
}

.linkedin a {
  margin-top: 1px;
  text-decoration: none;
}

.main-content {
  margin-top: 10px;
  padding-left: 20px;
  line-height: 2rem;
  padding-right: 2rem;
}

.grid-change {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 6fr;
  grid-template-rows: 1fr 2fr;
}

.exp-info {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 4px;
}

.exp-role {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}

.exp-co {
  margin-left: auto;
}

.technical-skills,
.other-skills {
  margin-left: 5rem;
}

.list-items {
  margin-left: 3rem;
}

.date {
  padding: 4rem 0 0 2rem;
}

.sign {
  display: flex;
}

.sign p {
  color: #4d4d4d;
  margin-left: auto;
  padding-bottom: 3rem;
  padding-right: 3rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 2px solid #fff;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table,
th,
td {
  border: 1px solid black;
}

button {
  padding: 1px;
}

.download-btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.button {
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #1aa1f5;
  padding: 0.5rem 1rem;
  color: #1aa1f5;
  transition: background-color 300ms ease, color 300ms ease;
}

.button:hover {
  background-color: #1aa1f5;
  color: white;
}

@media (max-width: 930px) {
  .resume {
    display: block;
  }

  .personal-info {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
  }

  .main-heading {
    /* width: 500px; */
    width: auto;
  }
}

@media (max-width: 600px) {
  .personal-info {
    display: block;
  }
}

@media (max-width: 500px) {
  .resume {
    width: 100%;
  }

  .grid-change {
    display: block;
  }

  .main-content {
    width: min-content;
  }

  .main-heading {
    width: 500px;
    font-size: 31px;
  }
}
